@charset "UTF-8";

$regular: 'Roboto', sans-serif;
$color-main: #1d1d1b;
$color-secondary: #ffffff;
$color-purple: #aca6cb;

@mixin text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

@mixin img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#es-rc #es-rc-content {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  max-width: 731px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000;
  background: #fff;

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  .es-title {
    text-transform: uppercase;
    font-family: $regular;
    text-align: center;
    font-size: 25px;
    color: $color-main;
    font-weight: 700;
  }

  .es-section-title {
    font-family: $regular;
    text-align: center;
    font-size: 16px;
    color: $color-main;
    font-weight: 900;
  }

  .es-title span {
    font-weight: 900;
    text-transform: none;
  }

  .es-link {
    display: block;
    max-width: 90px;
    margin: 0 auto;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $color-purple;
    color: $color-main;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
  }

  .es-kv {
    margin-bottom: 50px;
    position: relative;

    &__logo {
      @include img;
      margin-left: 0;
      max-width: 150px;
    }

    &__content {
      position: absolute;
      top: 10%;
      left: 1%;
      -webkit-animation: slideleft 0.5s ease-in-out;
      animation: slideleft 0.5s ease-in-out;
      z-index: 3;
    }

    &__title {
      @include text;
      font-weight: 500;
      text-align: left;

      &--bold {
        color: $color-purple;
        font-weight: 800;
        text-transform: uppercase !important;
      }

      &--light {
        font-weight: 800;
      }
    }

    &__subtitle {
      @include text;
      font-weight: 800;
      text-align: left;
      font-size: 13px;
      position: relative;
      z-index: 3;
    }

    &__image {
      @include img;
      margin-top: -30px;
    }

    &__image-1 {
      width: 400px;
      margin-left: 100px;
      -webkit-animation: appear 0.5s ease-in-out;
      animation: appear 0.5s ease-in-out;
    }

    &__image-2 {
      width: 400px;
      margin-top: -150px;
      margin-left: -50px;
      margin-bottom: 20px;
      -webkit-animation: appear 0.5s ease-in-out;
      animation: appear 0.5s ease-in-out;
    }

    &__description {
      @include text;
      font-weight: 800;
      margin-bottom: 30px;

      &--desktop {
        display: none;
      }

      &--large {
        font-weight: 700;
        font-size: 35px;

        & sup {
          vertical-align: text-top;
        }
      }
    }

    &__description-first,
    &__description-second {
      @include text;
      margin-top: 10px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 30px;
      color: $color-purple;

      & sup {
        vertical-align: text-top;
      }
    }

    &__disclaimer {
      @include text;
      font-weight: 500;
      font-size: 10px;
      text-align: center;
    }

    &__deco-image-1,
    &__deco-image-2 {
      display: none;
    }
  }

  .es-technology {
    position: relative;
    padding-top: 50px;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;

    &__deco-image-1 {
      @include img;
      width: 200px;
      position: absolute;
      top: 0%;
      left: -10%;
    }

    &__title {
      position: relative;
      z-index: 1;
    }

    &__subtitle {
      @include text;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      z-index: 1;
    }

    &__description {
      @include text;
      margin-bottom: 10px;
      font-weight: 700;
      text-align: center;
      position: relative;
      z-index: 1;

      & b {
        font-weight: 700;
      }
    }

    &__list {
      padding-left: 25px;
      position: relative;
      z-index: 1;
    }

    &__item {
      @include text;
      font-size: 16px;
      font-weight: 400;
    }
  }

  .es-features {
    position: relative;

    &__deco-image-1 {
      display: block;
      @include img;
      width: 55%;
      position: absolute;
      top: -7%;
      right: -9%;
    }

    &__deco-image-2 {
      display: none;
    }

    &__title {
      margin-bottom: 20px;
      position: relative;
      z-index: 1;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 15px;
      padding-right: 15px;
      background-color: $color-purple;
      color: $color-secondary;
      position: relative;
      z-index: 1;
      min-height: 535px;
    }

    &__image {
      @include img;
      -webkit-animation: appear 0.5s ease-in-out;
      animation: appear 0.5s ease-in-out;
      height: 300px;

      &--3 {
        height: 150px;
      }
    }

    &__content-title {
      @include text;
      font-size: 25px;
      font-weight: 400;
      margin-bottom: 3px;
      color: $color-main;
    }

    &__content-subtitle {
      @include text;
      margin-bottom: 3px;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &__content-second-subtitle {
      @include text;
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 800;
      color: $color-main;
    }

    &__content-description {
      @include text;
      margin-bottom: 20px;
      font-size: 13px;
    }

    &__list {
      padding-left: 25px;
      font-size: 13px;
    }

    &__list-item {
      @include text;
      font-size: 13px;
      font-weight: 500;
      color: $color-main;
    }
  }

  .es-ba {
    margin-bottom: 50px;

    &__deco-image-1,
    &__deco-image-2 {
      display: none;
    }

    &__image {
      @include img;
    }

    &__title {
      margin-bottom: 0;
      color: $color-purple;
    }

    &__subtitle {
      @include text;
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 700;
      text-align: center;
    }

    &__image-wrapper {
      position: relative;
    }

    &__before {
      position: absolute;
      top: 15%;
      left: 5%;
      @include text;
      font-weight: 800;
      text-transform: uppercase;
    }

    &__after {
      position: absolute;
      top: 15%;
      right: 7%;
      @include text;
      font-size: 18px;
      font-weight: 800;
      text-transform: uppercase;
    }
  }

  .es-cross {
    padding-bottom: 50px;

    &__title {
      margin-bottom: 10px;
      font-weight: 400;

      & span {
        color: $color-purple;
      }
    }

    &__cards {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    &__card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    &__card-image {
      @include img;
      margin-top: 20px;
      height: 225px;
      margin-bottom: 20px;
    }

    &__card-title {
      @include text;
      font-weight: 700;
      text-align: center;
      font-size: 14px;
    }

    &__card-description {
      @include text;
      text-align: center;
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 14px;
    }
  }

  @media screen and (min-width: 800px) {
    .es-kv {
      &__image-1 {
        margin-right: 0;
        margin-left: auto;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    .es-title {
      font-size: 35px;
      margin-bottom: 10px;
    }

    .es-section-title {
      font-size: 25px;
    }

    .es-kv {
      min-height: 870px;

      &__logo {
        margin-left: 12px;
        margin-top: 17px;
        max-width: 135px;
      }

      &__description {
        &--mobile {
          display: none;
        }

        &--desktop {
          display: block;
        }
      }

      &__content {
        top: 10%;
        left: 2%;
      }

      &__title {
        font-size: 35px;
        z-index: 3;
        position: relative;
        margin-bottom: 20px;

        &--bold {
          font-size: 35px;
        }
      }

      &__subtitle {
        font-size: 25px;
        z-index: 3;
        position: relative;
      }

      &__image-1 {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
      }

      &__image-2 {
        margin-top: 200px;
        margin-left: 0px;
        position: relative;
        z-index: 2;
      }

      &__image-1 {
        width: 475px;
      }

      &__image-2 {
        width: 450px;
      }

      &__description {
        position: absolute;
        bottom: 16%;
        right: 6%;
        max-width: 220px;
        text-align: right;
        font-size: 16px;
        line-height: 1.4;

        &--large {
          font-size: 50px;
        }
      }

      &__description-first {
        position: absolute;
        bottom: 5%;
        right: 29%;
      }

      &__description-second {
        position: absolute;
        bottom: -5%;
        right: 7%;
      }

      &__deco-image-1 {
        display: block;
        position: absolute;
        @include img;
        top: 3%;
        left: 19%;
        max-width: 30%;
      }

      &__deco-image-2 {
        display: block;
        position: absolute;
        @include img;
        max-width: 483px;
        bottom: -16%;
        right: 2%;
      }

      &__disclaimer {
        position: absolute;
        font-size: 7px;
        bottom: -2%;
        right: 25%;
        font-weight: 900;
      }
    }

    .es-technology {
      padding-top: 0;
      margin-bottom: 76px;

      &__wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: relative;
      }

      &__content {
        width: 50%;
      }

      &__content:not(:last-child)::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 2px;
        height: 110%;
        background-color: $color-main;
      }

      &__deco-image-1 {
        @include img;
        width: 200px;
        position: absolute;
        top: -13%;
        left: -9%;
      }

      &__subtitle {
        margin-bottom: 35px;
        font-size: 20px;
      }

      &__description {
        max-width: 90%;
        margin: 0 auto;
        margin-bottom: 30px;
        text-align: center;
        font-size: 17px;
      }

      &__list {
        margin-left: 40px;
      }
    }

    .es-features {
      &__deco-image-1 {
        display: block;
        @include img;
        width: 55%;
        position: absolute;
        top: -34%;
        right: -5%;
      }

      &__deco-image-2 {
        display: block;
        @include img;
        width: 55%;
        position: absolute;
        bottom: -21%;
        left: -9%;
      }

      &__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 260px !important;
        min-height: auto;
      }

      &__text-wrapper {
        -ms-flex-item-align: start;
        align-self: flex-start;
        max-width: 441px;
        margin: 0 auto;
        margin-left: 10%;
      }

      &__image {
        position: absolute;
        height: 300px;
        top: 5%;
        right: 15%;

        &--2 {
          height: 275px;
        }

        &--3 {
          height: 170px;
          top: 50%;
          right: 4%;
        }
      }

      &__content-title {
        font-size: 40px;
      }

      &__content-subtitle {
        font-size: 30px;
      }

      &__content-second-subtitle {
        font-size: 25px;
      }
    }

    .es-ba {
      margin-top: 100px;
      position: relative;

      &__deco-image-1 {
        position: absolute;
        @include img;
        width: 38%;
        bottom: -10%;
        left: 1%;
      }

      &__deco-image-2 {
        position: absolute;
        @include img;
        width: 29%;
        bottom: 3%;
        right: -4%;
      }

      &__title {
        margin-bottom: 0;
      }

      &__subtitle {
        font-size: 20px;
      }

      &__image {
        max-width: 500px;
        position: relative;
        z-index: 1;
      }

      &__before {
        top: 18%;
        left: 9%;
        @include text;
        font-weight: 800;
        font-size: 40px;
        text-transform: uppercase;
        z-index: 2;
      }

      &__after {
        top: 18%;
        right: 18%;
        font-size: 35px;
        z-index: 2;
      }
    }
  }

  @-webkit-keyframes slideleft {
    from {
      opacity: 0.3;
      -webkit-transform: translateX(100px);
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

  @keyframes slideleft {
    from {
      opacity: 0.3;
      -webkit-transform: translateX(100px);
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

  @-webkit-keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

#es-rc #es-rc-content .es-swiper {
  position: relative;
  overflow: visible;
}

#es-rc #es-rc-content .es-swiper .es-swiper-button-prev:after,
#es-rc #es-rc-content .swiper-container-rtl .es-swiper-button-next:after {
  display: none;
}

#es-rc #es-rc-content .es-swiper .es-swiper-button-next:after,
#es-rc #es-rc-content .swiper-container-rtl .es-swiper-button-prev:after {
  display: none;
}

#es-rc #es-rc-content .es-swiper__disclaimer {
  max-width: 460px;
  font-size: 12px;
  text-align: center;
  margin: 50px auto;
}

#es-rc #es-rc-content .es-swiper .es-swiper-button-next,
#es-rc #es-rc-content .swiper-container-rtl .es-swiper-button-prev {
  right: 15px;
  left: auto;
}

#es-rc #es-rc-content .es-swiper .es-swiper-button-prev,
#es-rc #es-rc-content .swiper-container-rtl .es-swiper-button-next {
  left: 15px;
  right: auto;
}

#es-rc #es-rc-content .swiper-container-horizontal > .swiper-pagination-bullets,
#es-rc #es-rc-content .es-swiper .swiper-pagination-custom,
#es-rc #es-rc-content .es-swiper .swiper-pagination-fraction {
  bottom: 0px;
}

#es-rc #es-rc-content .es-swiper .es-swiper-pagination {
  position: absolute;
  bottom: -32px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
}

#es-rc #es-rc-content .es-swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #000;
  opacity: 1;
}

#es-rc #es-rc-content .es-swiper .swiper-pagination-bullet:not(:last-child) {
  margin-right: 6px;
}

#es-rc #es-rc-content .es-swiper .swiper-pagination-bullet-active {
  opacity: 1;
  background: #000;
}
